bot:
  nick: bncim
  user: bncim
  realname: bnc.im administration bot [#bnc.im]
  saslname: bncim
  saslpass: 
  channels:
    - #bnc.im
servers:
  interlinked:
    server: irc.interlinked.me
    port: 6697
    nick: bncim
    ssl: true
    password: example
  staticbox:
    server: irc.staticbox.net
    port: 6697
    nick: bncim
    ssl: true
    password: example
  alphachat:
    server: irc.alphachat.net
    port: 6697
    nick: bncim
    ssl: true
    password: example
requestdb: /path/to/data/request-db
