bot:
  nick: bncim
  user: bncim
  realname: bnc.im administration bot [#bnc.im]
  saslname: bncim
  saslpass: 
  channels:
    - bnc.im
zncservers:
  miami:
    addr: mia1.bnc.im
    port: 6697
    ssl: true
    username: bncbot
    password: 
    public:
      panel: https://mia1.bnc.im/
      port: 6667
      sslport: 6697
ips:
  miami:
    ipv4:
      - 172.246.127.154
    ipv6:
      - 2605:f700:100:414::9146:65cd
      - 2605:f700:100:414::d1a4:2287
servers:
  interlinked:
    server: irc.interlinked.me
    port: 6697
    nick: bncim
    ssl: true
    password: example
  staticbox:
    server: irc.staticbox.net
    port: 6697
    nick: bncim
    ssl: true
    password: example
  alphachat:
    server: irc.alphachat.net
    port: 6697
    nick: bncim
    ssl: true
    password: example
admin:
  network: staticbox
  channel: bnc.im-admin
mail:
  server: 
  port: 25
  user: 
  pass: 
requestdb: /path/to/data/request-db
notifymail:
  - mail@mail.com
